<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="itemMapper">
	
	<resultMap type="Item" id="itemResultSet">
		<id property="itemNo" column="ITEM_NO"/>
		<result property="itemName" column="ITEM_NAME"/>
		<result property="itemPrice" column="ITEM_PRICE"/>
		<result property="itemCount" column="ITEM_COUNT"/>
		<result property="itemRate" column="ITEM_RATE"/>
		<result property="itemDpStatus" column="ITEM_DP_STATUS"/>
		<result property="itemCmSales" column="ITEM_CM_SALES"/>
		<result property="itemChoice" column="ITEM_CHOICE"/>
		<result property="itemDate" column="ITEM_DATE"/>
		<result property="itemRecommend" column="ITEM_RECOMMEND"/>
		<result property="categoryNo" column="CATEGORY_NO"/>
		<result property="itemMemo" column="ITEM_MEMO"/>
		<result property="itemEventStatus" column="ITEM_EVENT_STATUS"/>
		<result property="sortNo" column="SORT_NO"/>
		<result property="imageOriginalName" column="IMAGE_ORIGINAL_NAME"/>
		<result property="imageRename" column="IMAGE_RENAME"/>
		<result property="imagePath" column="IMAGE_PATH"/>
		
	</resultMap>
	
	<resultMap type="mSubscribe" id="subscribeResultSet">
		<id property="subscribeNo" column="SUBSCRIBE_NO" />
		<result property="itemNo" column="ITEM_NO" />
		<result property="cycleNo" column="CYCLE_NO" />
		<result property="subscribeStatus" column="SUBSCRIBE_STATUS" />
		<result property="subscribeDate" column="SUBSCRIBE_DATE" />
		<result property="amount" column="AMOUNT" />
		<result property="memberNo" column="MEMBER_NO" />
		<result property="memberId" column="MEMBER_ID" />
		<result property="email" column="EMAIL" />
		<result property="exchangeStatus" column="EXCHANGE_STATUS" />
		<result property="itemName" column="ITEM_NAME" />
		<result property="address1" column="ADDRESS_1" />
		<result property="address2" column="ADDRESS_2" />
		<result property="address3" column="ADDRESS_3" />
		<result property="phone" column="PHONE"/>
		<result property="subPrice" column="SUB_PRICE"/>
		<result property="customerUid" column="CUSTOMER_UID"/>
		<result property="paymentDate" column="PAYMENT_DATE"/>
	</resultMap>
	
	
	<select id="getBestCount" resultType="_int">
		<![CDATA[
		SELECT COUNT(*)
		FROM ITEM
		WHERE ITEM_CM_SALES>=30
		]]>
	</select>
	
	<update id="getDetailCount" parameterType="_int">
		UPDATE ITEM
		SET ITEM_COUNT=ITEM_COUNT+1
		WHERE ITEM_NO=#{itemNo}
	</update>
	
	<insert id="insertInquired" parameterType="Board">
		INSERT INTO BOARD
		VALUES(SEQ_BOARD_NO.NEXTVAL
		    , #{title}
		    , #{content}
		    , SYSDATE
		    , DEFAULT
		    , 'O'
		    , #{memberNo}
		    , #{memberId}
		    , #{email}
		    , #{itemNo}
		    )
	</insert>
	
	<insert id="insertOneInquiry" parameterType="_int">
		INSERT INTO ONE_INQUIRY
		VALUES((SELECT MAX(BOARD_NO)
		        FROM BOARD)
		        , 'Y'
		        , DEFAULT)
	</insert>
	<insert id="insertInquiry" parameterType="_int">
		INSERT INTO INQUIRY
		VALUES((SELECT MAX(BOARD_NO)
		        FROM BOARD)
		        , DEFAULT
		        , DEFAULT
		        , DEFAULT
		        , 'OPI')
	</insert>
	
	<update id="updatePChoice" parameterType="_int">
		UPDATE ITEM
		SET ITEM_CHOICE = ITEM_CHOICE+1
		WHERE ITEM_NO=#{itemNo}
	</update>
	
	<update id="updateMChoice" parameterType="_int">
		UPDATE ITEM
		SET ITEM_CHOICE = ITEM_CHOICE-1
		WHERE ITEM_NO=#{itemNo}
	</update>
	
	<select id="reviewItemName" parameterType="_int" resultMap="itemResultSet">
		SELECT *
		FROM ITEM
		WHERE ITEM_NO=#{itemNo}
	</select>
	
	<select id="checkDiscount" parameterType="_int" resultType="_int">
		SELECT NVL(MAX(ITEM_DISCOUNT), 0)
		FROM ITEM
		JOIN EVENT_ITEM USING(ITEM_NO)
		WHERE ITEM_NO = #{no}
	</select>
	
	<insert id="insertFirstPayment" parameterType="PayInfo">
		INSERT INTO PAYMENT
		VALUES(SEQ_PAY_NO.NEXTVAL
				, #{itemNo}
				, #{point}
				, SYSDATE
				, #{memberNo}
				, (SELECT MEMBER_ID FROM MEMBER WHERE MEMBER_NO = #{memberNo})
				, (SELECT EMAIL FROM MEMBER WHERE MEMBER_NO = #{memberNo}))
	</insert>
	
	<select id="selectItemPrice" parameterType="_int" resultType="_int">
		SELECT ITEM_PRICE FROM ITEM WHERE ITEM_NO = #{itemNo}
	</select>
	
	<insert id="insertSubscribeInfo" parameterType="hashMap">
		INSERT ALL
		INTO SUBSCRIBE (SUBSCRIBE_NO, ITEM_NO, CYCLE_NO, SUBSCRIBE_STATUS, SUBSCRIBE_DATE, AMOUNT, MEMBER_NO, MEMBER_ID, EMAIL, 
						EXCHANGE_STATUS, ITEM_NAME, ADDRESS_1, ADDRESS_2, ADDRESS_3, PHONE, SUB_PRICE, CUSTOMER_UID, PAYMENT_DATE)
		VALUES(SEQ_SUBSCRIBE_NO.NEXTVAL
				, #{subInfo.itemNo}
				, (SELECT CYCLE_NO FROM CYCLE WHERE CYCLE_PERIOD = #{cycle})
				, DEFAULT
				, SYSDATE
				, #{subInfo.amount}
				, #{subInfo.memberNo}
				, (SELECT MEMBER_ID FROM MEMBER WHERE MEMBER_NO = #{subInfo.memberNo})
				, (SELECT EMAIL FROM MEMBER WHERE MEMBER_NO = #{subInfo.memberNo})
				, DEFAULT
				, (SELECT ITEM_NAME FROM ITEM WHERE ITEM_NO = #{subInfo.itemNo})
				, #{subInfo.address1}
				, #{subInfo.address2}
				, #{subInfo.address3}
				, #{subInfo.phone}
				, #{subInfo.subPrice}
				, #{subInfo.customerUid}
				, SYSDATE)
				
		INTO DELIVERY(DELIVERY_NO, DELIVERY_STATUS, SUBSCRIBE_NO)
		VALUES(SEQ_DELIVERY_NO.NEXTVAL
				, DEFAULT
				, SEQ_SUBSCRIBE_NO.NEXTVAL)
		
		SELECT * FROM dual
		
	</insert>
	
	<select id="selectSubscribeStatus" parameterType="String" resultMap="subscribeResultSet">
		SELECT * FROM SUBSCRIBE 
		WHERE CUSTOMER_UID = #{customerUid} AND SUBSCRIBE_STATUS = 'N'
	</select>
	
	<select id="selectPoint" parameterType="_int" resultType="double">
		SELECT GRADE_RATE FROM GRADE WHERE GRADE_NO = (SELECT GRADE_NO FROM MEMBER WHERE MEMBER_NO = #{memberNo})
	</select>
	
	<update id="updateUsePoint" parameterType="hashMap">
		UPDATE MEMBER SET POINT = ((SELECT POINT FROM MEMBER WHERE MEMBER_NO = #{memberNo}) - #{point}) WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<delete id="deleteCartList" parameterType="hashMap">
		DELETE FROM CART
		WHERE ITEM_NO IN
		<foreach collection="itemNoArr" item="item" index="index" open="(" close=")" separator=",">		
			#{item}
		</foreach>
	</delete>
	
	<select id="selectSubList" parameterType="_int" resultType="_int">
		SELECT COUNT(*) FROM SUBSCRIBE WHERE ITEM_NO = #{itemNo}
	</select>

	<select id="selectRecommendList" resultMap="itemResultSet">
		SELECT * FROM ITEM WHERE ITEM_RECOMMEND = 'C' AND ROWNUM BETWEEN 1 AND 4 
	</select>
	
	<select id="selectRecommendCList" resultMap="itemResultSet">
		SELECT * FROM (SELECT * FROM ITEM JOIN RECOMMEND USING(ITEM_NO) ORDER BY COMMON DESC)
		WHERE ROWNUM BETWEEN 1 AND 4
	</select>
	
	<select id="selectRecommendMList" resultMap="itemResultSet">
		SELECT * FROM (SELECT * FROM ITEM JOIN RECOMMEND USING(ITEM_NO) ORDER BY MALE DESC)
		WHERE ROWNUM BETWEEN 1 AND 4
	</select>
	
	<select id="selectRecommendFList" resultMap="itemResultSet">
		SELECT * FROM (SELECT * FROM ITEM JOIN RECOMMEND USING(ITEM_NO) ORDER BY FEMALE DESC)
		WHERE ROWNUM BETWEEN 1 AND 4
	</select>
	
	<select id="selectHotList" resultMap="itemResultSet">
		SELECT * FROM (SELECT * FROM ITEM ORDER BY ITEM_COUNT DESC)
		WHERE ROWNUM BETWEEN 1 AND 4
	</select>
	
	<select id="selectCustomerUid" parameterType="_int" resultType="String">
		SELECT CUSTOMER_UID FROM SUBSCRIBE WHERE SUBSCRIBE_NO = #{subNo}
	</select>
	
	<select id="selectSubCount" parameterType="String" resultType="_int">
		SELECT COUNT(*) 
		FROM SUBSCRIBE 
		WHERE CUSTOMER_UID = #{customerUid}
	</select>
	
	<select id="selectDeliveryCount" parameterType="String" resultType="_int">
		SELECT COUNT(*) 
		FROM SUBSCRIBE 
		JOIN DELIVERY USING(SUBSCRIBE_NO) 
		WHERE CUSTOMER_UID=#{customerUid} AND DELIVERY_STATUS = 'N'
	</select>
	
	<select id="selectCancleCount" parameterType="String" resultType="_int">
		SELECT COUNT(*)
		FROM SUBSCRIBE
		WHERE CUSTOMER_UID = #{customerUid} AND SUBSCRIBE_STATUS = 'Y'
	</select>
	
	<select id="selectSubNo" parameterType="mSubscribe" resultType="_int">
		SELECT SUBSCRIBE_NO FROM SUBSCRIBE WHERE CUSTOMER_UID = #{customerUid} AND MEMBER_NO = #{memberNo} AND ITEM_NO = #{itemNo}
	</select>
	
	<select id="selectCycle" resultType="_int">
		SELECT CYCLE_PERIOD FROM CYCLE WHERE CYCLE_NO = #{cycleNo}
	</select>
	
	<select id="selectSubPrice" parameterType="_int" resultType="_int">
		SELECT SUB_PRICE FROM SUBSCRIBE WHERE SUBSCRIBE_NO = #{subNo} 
	</select>
</mapper>
